@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.15.4/css/all.css");

.menu-toggle:focus,
.menu-toggle:hover {
  text-decoration: underline !important;
}

header.main-header .main-header__wrapper:before {
  background: #500 !important;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

footer,
header,
nav {
  display: block;
}

div,
h1,
h2,
h5,
h6,
li,
p,
ul {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

i {
  font-style: italic;
  line-height: inherit;
}

strong {
  font-weight: 700;
  line-height: inherit;
}

.h1,
.h2,
.h5,
.h6,
h1,
h2,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: inherit;
  text-rendering: optimizeLegibility;
}

.h1,
h1 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.h2,
h2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.h5,
h5 {
  font-size: 1.0625rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.h6,
h6 {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media print, screen and (min-width: 40em) {
  .h1,
  h1 {
    font-size: 3rem;
  }

  .h2,
  h2 {
    font-size: 2.5rem;
  }

  .h5,
  h5 {
    font-size: 1.25rem;
  }

  .h6,
  h6 {
    font-size: 1rem;
  }
}

a {
  line-height: inherit;
  color: #332c2c;
  text-decoration: underline;
  cursor: pointer;
}

a:focus,
a:hover {
  color: #2c2626;
}

a img {
  border: 0;
}

hr {
  clear: both;
  max-width: 75rem;
  height: 0;
  margin: 1.25rem auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #aaa;
  border-left: 0;
}

ul {
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 1.6;
}

li {
  font-size: inherit;
}

ul {
  margin-left: 1.25rem;
  list-style-type: disc;
}

ul ul {
  margin-left: 1.25rem;
  margin-bottom: 0;
}

abbr,
abbr[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
  text-decoration: none;
}

@media print {
  * {
    background: 0 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
    overflow: visible;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
    font-size: 80%;
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
    font-size: 90%;
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
    size: auto;
  }

  h2,
  p {
    orphans: 3;
    widows: 3;
  }

  h1,
  h2 {
    page-break-after: avoid;
  }

  footer.main-footer,
  header.main-header,
  nav {
    display: none;
  }

  @-moz-document url-prefix() {
    * {
      overflow: visible;
    }

    h1,
    h2 {
      page-break-after: avoid;
    }

    img {
      page-break-before: avoid;
    }

    h1,
    h2,
    p {
      orphans: 3;
      widows: 3;
      display: block;
      page-break-after: avoid-page;
    }

    header {
      top: 0;
    }

    footer {
      position: fixed;
      bottom: 0;
    }
  }

  @supports (-moz-appearance: none) {
    * {
      overflow: visible;
    }

    h1,
    h2 {
      page-break-after: avoid;
    }

    img {
      page-break-inside: avoid;
      display: block;
    }

    h1,
    h2,
    p {
      orphans: 3;
      widows: 3;
      display: block;
      page-break-after: avoid;
    }

    header {
      top: 0;
    }

    footer {
      position: fixed;
      bottom: 0;
    }
  }
}

[type="color"],
[type="email"],
[type="text"] {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #141414;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out,
    -webkit-box-shadow 0.5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[type="color"]:focus,
[type="email"]:focus,
[type="text"]:focus {
  outline: 0;
  border: 1px solid #777;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out,
    -webkit-box-shadow 0.5s;
}

[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

[type="file"] {
  margin: 0 0 1rem;
}

[type="file"] {
  width: 100%;
}

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #500000;
  color: #fff;
}

.button:focus,
.button:hover {
  background-color: #400;
  color: #fff;
}

.button.expanded {
  display: block;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

a.button:focus,
a.button:hover {
  text-decoration: none;
}

.button,
button {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.875rem 1.375rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
  font: normal bold 0.875rem "Open Sans", sans-serif;
  line-height: 1rem;
  text-align: left;
  text-decoration: none;
}

.button,
button {
  background-color: #045678;
  color: #fff;
}

.button:link,
.button:visited,
button:link,
button:visited {
  color: #fff;
}

.button:active,
.button:focus,
.button:hover,
button:active,
button:focus,
button:hover {
  background-color: #067cae;
}

button:focus {
  outline: 2.5px solid #ea002b !important;
}

[type="color"],
[type="email"],
[type="text"] {
  border: #eee 2px solid;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 1.75rem 1.25rem;
}

[type="color"]:focus,
[type="email"]:focus,
[type="text"]:focus {
  border: #067cae 1px solid;
}

h1 {
  font: normal bold 2.5rem "Open Sans", sans-serif;
  line-height: 1.5;
  text-transform: none;
  margin: 0 0 0.5rem;
}

@media screen and (max-width: 23.75em) {
  h1 {
    font-size: 2.125rem;
  }
}

h2 {
  font: normal bold 2.125rem "Open Sans", sans-serif;
  line-height: 1.5;
  text-transform: none;
  margin: 0 0 0.5rem;
}

@media screen and (max-width: 23.75em) {
  h2 {
    font-size: 1.875rem;
  }
}

h5 {
  font: normal bold 1.25rem "Open Sans", sans-serif;
  line-height: 1.5;
  text-transform: none;
  margin: 0 0 0.5rem;
}

@media screen and (max-width: 23.75em) {
  h5 {
    font-size: 1.125rem;
  }
}

h6 {
  font: normal bold 1.125rem "Open Sans", sans-serif;
  line-height: 1.5;
  text-transform: none;
  margin: 0 0 0.5rem;
}

@media screen and (max-width: 23.75em) {
  h6 {
    font-size: 1.125rem;
  }
}

.icon {
  height: 1em;
  width: 1em;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
  display: inline-block;
}

a {
  font-weight: 700;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #045678;
}

a:active,
a:focus,
a:hover {
  text-decoration: none;
}

a:link,
a:visited {
  color: #045678;
}

a:active,
a:focus,
a:hover {
  color: #066c98;
}

a:focus {
  outline: transparent;
  border: 2.5px solid #ea002b;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.main-footer a,
header.main-header a {
  color: #fff;
}

.main-footer a:active,
.main-footer a:focus,
.main-footer a:hover,
header.main-header a:active,
header.main-header a:focus,
header.main-header a:hover {
  color: #fce300;
}

ul {
  margin-bottom: 2.5rem;
  margin-left: 3.125rem;
}

ul li {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

ul li ul {
  margin-top: 1rem;
  margin-left: 3.125rem;
}

@media screen and (max-width: 23.75em) {
  ul {
    margin-left: 1.25rem;
  }

  ul li {
    font-size: 1rem;
  }

  ul li ul {
    margin-left: 2.5rem;
  }
}

.link-collection ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.link-collection ul > li {
  text-indent: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.link-collection ul > li:before {
  display: none;
}

hr {
  border-color: #d8d8d8;
  border-bottom-width: 0.125rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

nav.main-nav .main-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.main-nav .main-nav__mobile-toggle {
  display: none;
}

nav.main-nav .main-nav__mobile-toggle button svg {
  width: 1.875rem;
  height: 1.875rem;
  margin-left: 0.3125rem;
}

nav.main-nav div.main-nav__mobile-toggle span.hamburger-icon {
  margin-left: 0.625rem;
  display: block;
  position: relative;
  width: 1.3125rem;
  height: 1.3125rem;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

nav.main-nav div.main-nav__mobile-toggle span.hamburger-icon span {
  display: block;
  position: absolute;
  height: 0.1875rem;
  width: 100%;
  background: #fff;
  border-radius: 0.5625rem;
  opacity: 1;
  left: 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

nav.main-nav div.main-nav__mobile-toggle span.hamburger-icon span:nth-child(1) {
  top: 0;
}

nav.main-nav div.main-nav__mobile-toggle span.hamburger-icon span:nth-child(2),
nav.main-nav div.main-nav__mobile-toggle span.hamburger-icon span:nth-child(3) {
  top: 0.5625rem;
}

nav.main-nav div.main-nav__mobile-toggle span.hamburger-icon span:nth-child(4) {
  bottom: 0;
}

nav.main-nav div.main-nav__mobile-toggle button:hover span.hamburger-icon span {
  background-color: #fce300;
}

.link-collection {
  margin-bottom: 2.5rem;
}

.link-collection a {
  text-decoration: none;
}

.link-collection ul li {
  margin-bottom: 1.25rem;
}

.link-collection ul li:last-child,
.link-collection ul li > *:last-child {
  margin-bottom: 0;
}

header.main-header {
  background: #500000;
}

header.main-header .main-header__wrapper {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 80em) {
  header.main-header .main-header__wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media screen and (max-width: 39.9375em) {
  header.main-header .main-header__wrapper {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

header.main-header .main-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

header.main-header .main-header__wrapper:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #6a2626;
}

header.main-header .main-header__wrapper .logo {
  width: 18.75rem;
  margin: 1.5625rem 1.875rem 1.5625rem 0;
}

@media screen and (max-width: 40em) {
  header.main-header .main-header__wrapper .logo {
    margin: 1.5625rem auto 0.625rem;
  }
}

header.main-header .main-header__wrapper .logo:focus {
  outline: 2px solid transparent;
}

header.main-header .main-header__wrapper nav.main-nav {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

@media screen and (max-width: 74.9375em) {
  header.main-header .main-header__wrapper nav.main-nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

@media screen and (max-width: 63.9375em) {
  header.main-header .main-header__wrapper nav.main-nav {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 40em) {
  header.main-header .main-header__wrapper nav.main-nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    display: block;
  }
}

header.main-header .main-header__wrapper nav.main-nav .main-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 63.9375em) {
  header.main-header .main-header__wrapper nav.main-nav .main-nav__links {
    display: none;
  }
}

header.main-header .main-header__wrapper nav.main-nav .main-nav__links .button,
header.main-header .main-header__wrapper nav.main-nav .main-nav__links button {
  font-size: 0.9375rem;
  line-height: 0.9375rem;
}

header.main-header .main-header__wrapper nav.main-nav .main-nav__links .button,
header.main-header .main-header__wrapper nav.main-nav .main-nav__links button {
  min-height: 3.4375rem;
}

@media screen and (max-width: 63.9375em) {
  header.main-header
    .main-header__wrapper
    nav.main-nav
    .main-nav__mobile-toggle {
    display: block;
  }
}

header.main-header
  .main-header__wrapper
  nav.main-nav
  .main-nav__mobile-toggle
  .button,
header.main-header
  .main-header__wrapper
  nav.main-nav
  .main-nav__mobile-toggle
  button {
  border: 0;
  font-size: 1rem;
}

header.main-header
  .main-header__wrapper
  nav.main-nav
  .main-nav__mobile-toggle
  .button
  svg,
header.main-header
  .main-header__wrapper
  nav.main-nav
  .main-nav__mobile-toggle
  button
  svg {
  width: 1.875rem;
  height: 1.875rem;
}

@media screen and (max-width: 40em) {
  header.main-header
    .main-header__wrapper
    nav.main-nav
    .main-nav__mobile-toggle
    .button,
  header.main-header
    .main-header__wrapper
    nav.main-nav
    .main-nav__mobile-toggle
    button {
    padding: 1.25rem;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

header.main-header .main-nav__links .button,
header.main-header .main-nav__links button,
header.main-header .main-nav__mobile-toggle .button,
header.main-header .main-nav__mobile-toggle button {
  padding: 0;
  background: 0 0 !important;
  text-transform: uppercase;
  margin-bottom: 0;
  border: 0 !important;
  border-radius: 0% !important;
  border-bottom: transparent 0.225rem solid !important;
  outline: transparent !important;
}

header.main-header .main-nav__links .button svg,
header.main-header .main-nav__links button svg,
header.main-header .main-nav__mobile-toggle .button svg,
header.main-header .main-nav__mobile-toggle button svg {
  margin-left: 0.3125rem;
  width: 0.4375rem;
  height: 0.4375rem;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

header.main-header .main-nav__links .button:last-child,
header.main-header .main-nav__links button:last-child,
header.main-header .main-nav__mobile-toggle .button:last-child,
header.main-header .main-nav__mobile-toggle button:last-child {
  margin-right: 0;
}

header.main-header .main-nav__links .button:focus,
header.main-header .main-nav__links .button:hover,
header.main-header .main-nav__links button:focus,
header.main-header .main-nav__links button:hover,
header.main-header .main-nav__mobile-toggle .button:focus,
header.main-header .main-nav__mobile-toggle .button:hover,
header.main-header .main-nav__mobile-toggle button:focus,
header.main-header .main-nav__mobile-toggle button:hover {
  color: #fce300 !important;
  border-bottom-color: #fce300 !important;
}

.main-footer {
  background-color: #500000;
  padding: 3.125rem 0 2.5rem;
  color: #fff;
  font-size: 0.875rem;
}

.main-footer p {
  font-size: 0.875rem;
}

.main-footer ul {
  margin: 0;
}

.main-footer ul li {
  display: inline-block;
  border-right: #fff 1px solid;
  margin-right: 0.4375rem;
  padding-right: 0.625rem;
  line-height: 0.875rem;
  font-size: 0.875rem;
}

.main-footer a {
  color: #fff !important;
  text-decoration: underline;
}

.main-footer a:hover,
.main-footer a:focus {
  color: #fce300 !important;
}

.main-footer ul li:last-child {
  border: 0;
  margin-right: 0;
  padding-right: 0;
}

@media screen and (max-width: 40em) {
  .main-footer ul li {
    display: block;
    border: 0;
    margin-right: 0;
    padding-right: 0;
    line-height: 1.25rem;
  }

  .main-footer ul li a {
    line-height: 2.5rem;
  }
}

.main-footer__wrapper {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 80em) {
  .main-footer__wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .main-footer__wrapper {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.main-footer__wrapper .main-footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}

.main-footer__wrapper .main-footer__top .main-footer__location {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 40%;
  flex: 0 1 40%;
}

@media screen and (max-width: 63.9375em) {
  .main-footer__wrapper .main-footer__top .main-footer__location {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
}

.main-footer__wrapper .main-footer__top .main-footer__location .logo {
  display: inline-block;
  width: 20rem;
  margin-bottom: 0.625rem;
}

.main-footer__wrapper .main-footer__top .main-footer__location .logo:focus {
  outline: 2px solid transparent;
}

.main-footer__wrapper .main-footer__top .main-footer__location .vcard {
  margin-bottom: 1rem;
}

@media screen and (max-width: 63.9375em) {
  .main-footer__wrapper .main-footer__top .main-footer__location ul {
    margin-bottom: 1.875rem;
  }
}

@media screen and (max-width: 63.9375em) {
  .main-footer__wrapper .main-footer__top .main-footer__location ul li {
    margin-bottom: 0;
  }
}

.main-footer__wrapper .main-footer__top .main-footer__eps-link {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 58%;
  flex: 0 1 58%;
  text-align: center;
}

@media screen and (max-width: 63.9375em) {
  .main-footer__wrapper .main-footer__top .main-footer__eps-link {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    text-align: left;
  }
}

.main-footer__wrapper
  .main-footer__top
  .main-footer__eps-link
  .link-collection {
  margin-bottom: 2.5rem;
}

.main-footer__wrapper
  .main-footer__top
  .main-footer__eps-link
  .link-collection
  ul {
  margin: 0;
}

.main-footer__wrapper
  .main-footer__top
  .main-footer__eps-link
  .link-collection
  ul
  li {
  border: 0;
  padding-right: 0;
  margin: 0 1.875rem 0 0;
}

.main-footer__wrapper
  .main-footer__top
  .main-footer__eps-link
  .link-collection
  ul
  li:last-child {
  margin-right: 0;
}

.main-footer__wrapper
  .main-footer__top
  .main-footer__eps-link
  .link-collection
  ul
  li
  a
  svg {
  width: 0.625rem;
  height: 0.625rem;
}

@media screen and (max-width: 23.75em) {
  .main-footer__wrapper .main-footer__top .main-footer__eps-link,
  .main-footer__wrapper .main-footer__top .main-footer__eps-link,
  .main-footer__wrapper .main-footer__top .main-footer__eps-link,
  .main-footer__wrapper .main-footer__top .main-footer__eps-link h1,
  .main-footer__wrapper .main-footer__top .main-footer__eps-link h2,
  .main-footer__wrapper .main-footer__top .main-footer__eps-link h5,
  .main-footer__wrapper .main-footer__top .main-footer__eps-link h6 {
    margin-bottom: 0.625rem;
  }
}

.main-footer__wrapper .main-footer__bottom ul li {
  margin-bottom: 0;
}

.main-footer__wrapper .main-footer__bottom p {
  font-size: 0.925rem;
  margin-bottom: 1.875rem;
}

.main-footer__wrapper .main-footer__bottom a {
  font-weight: 400;
  text-decoration: none;
}

.submenu {
  position: absolute;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background: white;
  border: 1px solid #ccc;
  z-index: 50;
}

.submenu.hidden {
  display: none;
}

.submenu li a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
}

.submenu li a:hover,
.submenu li a:focus {
  background: #f0f0f0;
  color: #500;
}

.menu-item.has-submenu {
  position: relative;
}

.menu-item .submenu {
  position: absolute;
  top: 100%;
  left: -35px; /* Move submenu 20px to the left */
  min-width: 260px;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 0.5em 0;
}

.menu-item .submenu.hidden {
  display: none;
}

.menu-item .icon-rotated {
  transform: rotate(90deg);
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 63.9375em) {
  header.main-header .main-header__wrapper nav.main-nav {
    position: relative !important;
  }
  header.main-header .main-header__wrapper nav.main-nav .main-nav__links.open {
    display: block !important;
    flex-direction: column;
    background-color: #500000 !important; /* match header */
    position: absolute !important; /* drop down */
    top: 100% !important; /* right under the header */
    left: 0 !important;
    right: 0 !important;
    padding: 1rem 0 !important; /* space around links */
    gap: 0.5rem !important; /* space between items */
  }
  header.main-header
    .main-header__wrapper
    nav.main-nav
    .main-nav__links.open
    button {
    color: #fff !important; /* contrast on dark bg */
    text-align: center !important;
  }
}

.hamburger {
  cursor: pointer;
}
.hamburger span {
  font-size: 13px;
  font-family: monospace;
}
.hamburger div {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  will-change: transform;
}
.hamburger.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  color: #fce300 !important;
}
.hamburger.change .bar2 {
  opacity: 0;
  color: #fce300 !important;
}
.hamburger.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  color: #fce300 !important;
}

.oswald-heading {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

.font-color {
  color: rgb(80, 0, 0);
}

.header-underline {
  font-size: 36px;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: rgb(234, 0, 43);
  text-decoration-thickness: 1.5px;
}

.header-underline-sponsor {
  font-size: 36px;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: rgb(255, 234, 0);
  text-decoration-thickness: 1.5px;
}

.banner-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: center;
  max-height: 400px;
  height: 400px;
  overflow: hidden;
}

.banner-container-sponsor {
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: center;
  max-height: 200px;
  height: 200px;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
  display: block;
  filter: brightness(0.7);
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(137, 42, 42, 0.45);
  z-index: 1;
}

.banner-overlay-sponsor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #045578c3;
  z-index: 1;
}

.banner-date {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem; /* default mobile */
  font-weight: bold;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  margin: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
  letter-spacing: 2.5px;
}

.banner-heading {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2rem; /* default mobile */
  font-weight: bold;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  margin: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
  letter-spacing: 0.5px;
}

.showcase-title-wrap {
  position: relative;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.showcase-title {
  position: absolute;
  left: 50%;
  bottom: -0.5em;
  width: max-content;
  transform: translateX(-50%);
  background: rgb(80, 0, 0);
  color: #fff;
  border-radius: 6px;
  padding: 0.4em 0.5em;
  font-size: 1.5rem; /* default mobile */
  z-index: 3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  line-height: 1.1;
  letter-spacing: 1px;
}

ul.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.custom-table-radius {
  border: 2px solid #500000 !important;
  background: #fff !important;
  border-collapse: separate !important;
  border-spacing: 0 !important;
  border-radius: 12px !important;
  overflow: hidden;
}
.custom-table-radius thead th:first-child {
  border-top-left-radius: 12px;
}
.custom-table-radius thead th:last-child {
  border-top-right-radius: 12px;
}
.custom-table-radius tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.custom-table-radius tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

/* Base - <640px */
@media (max-width: 639px) {
  .banner-date {
    font-size: 1.7rem;
  }
  .banner-heading {
    font-size: 1.7rem;
  }
  .showcase-title {
    bottom: -0.95em;
    font-size: 1.5rem;
    letter-spacing: normal;
  }
  .banner-container {
    height: 180px;
  }
  .banner-img {
    object-position: center 90%;
  }
  .showcase-goals-sponsorship-container {
    padding-top: 0.2rem !important;
  }
  .showcase-goals-sponsorship {
    flex-direction: column !important;
  }
  .showcase-goals-sponsorship {
    max-width: 100%;
    flex: 0 0 100%;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .showcase-goals-sponsorship img {
    max-height: 450px !important;
  }
  .showcase-goals-sponsorship h2 {
    font-size: 1.5rem;
  }
  .showcase-goals-sponsorship p {
    font-size: 1rem;
  }
  .showcase-goals-sponsorship-container {
    align-items: center !important;
  }
  .showcase-contact-info-subcontainer {
    padding: 0.5rem !important;
  }
  .showcase-contact-info-text {
    font-size: 15px !important;
  }
  .showcase-contact-info-email {
    font-size: 15px !important;
  }
  .team-participants {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem !important;
    text-align: justify !important;
  }
  .industry-judges {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem !important;
    text-align: justify !important;
  }
  .sponsor-capstone {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem !important;
    text-align: justify !important;
  }
  .sponsor-capstone a ol span {
    font-size: inherit;
  }
  .sponsor-capstone li {
    font-size: inherit;
    font-weight: bold;
  }
}
/* SM - 640px and up */
@media (min-width: 640px) {
  .banner-date {
    font-size: 2.2rem;
  }
  .banner-heading {
    font-size: 2.2rem;
  }
  .showcase-title {
    font-size: 2rem;
  }
  .banner-container {
    height: 280px;
  }
  .banner-img {
    object-position: center 50%;
  }
  .showcase-goals-sponsorship-container {
    padding-top: 0.2rem !important;
  }
  .showcase-goals-sponsorship {
    flex-direction: column !important;
  }
  .showcase-goals-sponsorship {
    max-width: 100%;
    flex: 0 0 100%;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .showcase-goals-sponsorship img {
    max-height: 450px !important;
  }
  .showcase-goals-sponsorship h2 {
    font-size: 2rem;
  }
  .showcase-goals-sponsorship p {
    font-size: 1rem;
  }
  .showcase-contact-info-subcontainer {
    padding: 0.5rem !important;
  }
  .showcase-contact-info-text {
    font-size: 18px !important;
  }
  .showcase-contact-info-email {
    font-size: 18px !important;
  }
  .team-participants {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem !important;
    text-align: justify !important;
  }
  .industry-judges {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem !important;
    text-align: justify !important;
  }
  .sponsor-capstone {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem !important;
    text-align: justify !important;
  }
  .sponsor-capstone a ol span {
    font-size: inherit;
  }
  .sponsor-capstone li {
    font-size: inherit;
    font-weight: bold;
  }
}
/* MD - 768px and up */
@media (min-width: 768px) {
  .banner-date {
    font-size: 2.6rem;
  }
  .banner-heading {
    font-size: 2.6rem;
  }
  .showcase-title {
    font-size: 2.4rem;
    margin-bottom: auto;
  }
  .banner-container {
    height: 280px;
  }
  .banner-img {
    object-position: center 40%;
  }
  .showcase-goals-sponsorship-container {
    padding-top: 0.5rem !important;
  }
  .showcase-goals-sponsorship {
    flex-direction: column !important;
  }
  .showcase-goals-sponsorship {
    max-width: 100%;
    flex: 0 0 100%;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  .showcase-goals-sponsorship img {
    max-height: 650px !important;
    padding-bottom: 1.5rem !important;
  }
  .showcase-goals-sponsorship h2 {
    font-size: 2.3rem;
  }
  .showcase-goals-sponsorship p {
    font-size: 1.35rem;
  }
  .showcase-contact-info-subcontainer {
    padding: 0.5rem !important;
  }
  .showcase-contact-info-text {
    font-size: 18px !important;
    text-align: center;
  }
  .showcase-contact-info-email-container {
    align-items: center;
  }
  .showcase-contact-info-email {
    font-size: 18px !important;
  }
  .team-participants {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.3rem !important;
    text-align: justify !important;
  }
  .industry-judges {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.3rem !important;
    text-align: justify !important;
  }
  .sponsor-capstone {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.3rem !important;
    text-align: justify !important;
  }
  .sponsor-capstone a ol span {
    font-size: inherit;
  }
  .sponsor-capstone li {
    font-size: inherit;
    font-weight: bold;
  }
}
/* LG - 1024px and up */
@media (min-width: 1024px) {
  .banner-date {
    font-size: 3rem;
  }
  .banner-heading {
    font-size: 3rem;
  }
  .showcase-title {
    font-size: 3rem;
  }
  .banner-container {
    height: 320px;
  }
  .banner-img {
    object-position: center 40%;
  }
  .showcase-goals-sponsorship-container {
    padding-top: 0.5rem !important;
  }
  .showcase-goals-sponsorship {
    flex-direction: row !important;
    padding-top: 1.5rem !important;
  }
  .showcase-goals-sponsorship {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .showcase-goals-sponsorship img {
    max-height: 850px !important;
    padding-bottom: 1.5rem !important;
  }
  .showcase-goals-sponsorship h2 {
    font-size: 1.6rem;
  }
  .showcase-goals-sponsorship p {
    font-size: 1rem;
  }
  .team-participants {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.1rem !important;
    text-align: justify !important;
  }
  .industry-judges {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.1rem !important;
    text-align: justify !important;
  }
  .sponsor-capstone {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.1rem !important;
    text-align: justify !important;
  }
  .sponsor-capstone a ol span {
    font-size: inherit;
  }
  .sponsor-capstone li {
    font-size: inherit;
    font-weight: bold;
  }
}
/* XL - 1280px and up */
@media (min-width: 1280px) {
  .banner-date {
    font-size: 3.5rem;
  }
  .banner-heading {
    font-size: 3.5rem;
  }
  .showcase-title {
    bottom: -0.55em;
    font-size: 3.5rem;
  }
  .banner-container {
    height: 480px;
  }
  .banner-img {
    object-position: center 25%;
  }
  .showcase-goals-sponsorship-container {
    padding-top: 0.5rem !important;
  }
  .showcase-goals-sponsorship {
    flex-direction: row !important;
  }
  .showcase-goals-sponsorship {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .showcase-goals-sponsorship img {
    max-height: 800px !important;
    padding-bottom: 1.5rem !important;
  }
  .showcase-goals-sponsorship h2 {
    font-size: 2.35rem;
  }
  .showcase-goals-sponsorship p {
    font-size: 1.35rem;
  }
  .team-participants {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    font-size: 1.35rem !important;
    text-align: justify !important;
  }
  .industry-judges {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    font-size: 1.35rem !important;
    text-align: justify !important;
  }
  .sponsor-capstone {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1.2rem !important;
    text-align: justify !important;
  }
  .sponsor-capstone a {
    font-size: inherit;
  }
  .sponsor-capstone span {
    font-size: inherit;
  }
  .sponsor-capstone li {
    font-size: inherit;
    font-weight: bold;
  }
}
